<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xpack.bestbuy">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.UPDATE_DEVICE_STATS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
"


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name=".Main"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".AllProducts"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="all products"
            android:icon="@drawable/ic_menu_camera"
            android:logo="@drawable/ic_menu_camera"
            />
        <activity android:name=".SingleProductInfos"
            android:theme="@style/AppTheme"
            android:label="product informations"
            />

        <activity android:name=".test"
            android:theme="@style/AppTheme"
            android:label="product informations"
            />

        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="product informations"
            />

    </application>

</manifest>